html, body 
  { height: 100%; margin:0; padding:0; margin-right:100;
}

body {
  background-image: url('https://i.pinimg.com/736x/2e/88/8c/2e888c18c468e26055212681633fa8c2.jpg');
  cursor: url("https://toppng.com/uploads/preview/cute-cursor-11549398224ijzskn4bmx.png"), auto;
}

span.top {
   display: flex;
   gap: 10px;
   font-size: 45px;
   font-family: "Times New Roman", Times, serif;
   background-color: black;
   border: 2px solid hotpink;
   border-radius: 1px;
   color: hotpink;
   margin: 0;
   left: 25px;
   padding: 8px;
   width: 1250px;
   align-items: baseline;
}

img.glitter {
  width: 465px;
  height: 36px;
  border: px;
  allign: center;
}

nav{
   display: flex;
   gap: 10px;
   background-color: hotpink;
   border: 2px solid black;
   font-family: "Times New Roman", Times, serif;
   border-radius: 1px;
   color: white;
   margin: 0;
   padding: 8px;
   width: 1250px;
   border-top: 5px solid #333;
   z-index:10;
}

.page {
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  }

.page_profile {
  background-color: hotpink;
   border: 2px solid black;
   border-radius: 1px;
   color: white;
   margin: 0;
   padding: 20px;
   width: 286px;
   height: 725px;
   border-top: 5px solid #333;
   flex-direction: column; 
   gap: 15px;
   position: relative;
   z-index: 1;
   border: 4px solid black;
   margin: 10px;
}

.idk_yet {
   background-color: black;
   border: 2px solid pink;
   border-radius: 1px;
   color: white;
   margin: 20;
   padding: 8px;
   width: 284px;
  position: absolute;
  z-index: 3;
  height: 724px;
  left: 25px;
  top: 12px;
  bottom: 100px;
}

img[alt="vanilla"] {
  width: 275px;
  height: auto;
  border: 3px solid pink;
}

.idk_yet h1{
  font-family: "Times New Roman", Times, serif;
  font-size: 25px
}

.idk_yet h2{
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  font-style: italic;
  font-weight: normal;
}

.idk_yet h3{
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: normal;
}

.idk_yet p {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.lol {
   background-color: black;
   border: 2px solid pink;
   border-radius: 1px;
   color: white;
   margin: 10;
   padding: 8px;
   position: absolute;
   width: 425px;
   height: 165px;
   left: 355px;
   top: 4px;
}

.lol h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: italic;
  font-weight: normal;
  border: 2px solid pink;
}

.gamer {
   background-color: black;
   border: 2px solid pink;
   border-radius: 1px;
   color: white;
   margin: 10;
   padding: 8px;
   position: absolute;
   width: 425px;
   height: 218px;
   left: 355px;
   top: 200px;
}

.gamer h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: italic;
  font-weight: normal;
  border: 2px solid pink;
}

.image-container {
  display: flex;
  gap: 10px;
}

.image-container img {
  width: 100%;
  max-width: 93px; 
  height: auto;
  border: 3px solid pink;
}

.image-container2 {
  display: flex;
  gap: 10px;
}

.image-container2 img {
  width: 100%;
  max-width: 93px; 
  height: auto;
  border: 3px solid pink;
}

.audio {
   background-color: black;
   border: 2px solid pink;
   border-radius: 1px;
   color: white;
   margin: 10;
   padding: 8px;
   position: absolute;
   width: 150px;
   height: 130px;
   left: 355px;
   top: 450px;
}

.music-button {
  background-color: black;
  border: 2px solid pink;
  color: hotpink;
  cursor: pointer;
   margin-top: 10px;
}

.music-button:hover {
  background-color: hotpink;
  color: white;
  transform: translateY(-2px);
}

.gamer h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: italic;
  font-weight: normal;
  border: 2px solid pink;
}

.image-container3 {
  display: flex;
  gap: 10px;
}

.image-container3 img {
  width: 100%;
  max-width: 93px; 
  height: auto;
  border: 3px solid pink;
}

.gallery {
   background-color: black;
   border: 2px solid pink;
   border-radius: 1px;
   color: white;
   margin: 10;
   padding: 8px;
   position: absolute;
   width: 250px;
   height: 273px;
   left: 535px;
   top: 450px;
}

.gallery h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: italic;
  font-weight: normal;
  border: 2px solid pink;
}

.image-container4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
}

.image-container4 img {
  width: 100%;
  size: 30px;
  max-width: 440px; 
  height: auto;
  border: 3px solid pink;
}

.char {
  background-color: black;
   border: 2px solid pink;
   border-radius: 1px;
   color: white;
   margin: 10;
   padding: 8px;
   position: absolute;
   width: 425px;
   height: 165px;
   left: 810px;
   top: 4px;
}

.char h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: italic;
  font-weight: normal;
  border: 2px solid pink;
}

.image-container5 img {
  width: 100%;
  size: 200px;
  max-width: 440px;
  height: auto;
  border: 3px solid pink;
}

.image-container5 {
  display: flex;
  gap: 10px;
}

.shows {
  background-color: black;
   border: 2px solid pink;
   border-radius: 1px;
   color: white;
   margin: 10;
   padding: 8px;
   position: absolute;
   width: 425px;
   height: 218px;
   left: 810px;
   top: 200px;
}

.shows h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: italic;
  font-weight: normal;
  border: 2px solid pink;
}

.image-container6 img {
  width: 100%;
  size: 50px;
  height: auto;
  border: 3px solid pink;
}

.image-container6 {
  display: flex;
  gap: 10px;
}

.createPost {
   position: absolute;
   left: 810px;
   top: 450px;
   background-color: black;
   border: 2px solid pink;
   border-radius: 1px;
   color: white;
   margin: 10;
   padding: 8px;
   width: 425px;
   min-height: 218px;
   flex-direction: column;
}

.createPost h1 {
   font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: italic;
  font-weight: normal;
  border: 2px solid pink;
}

.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
